---
import HtmlLayout from '@/layouts/HtmlLayout.astro'
import NavLayout from '@/layouts/NavLayout.astro'
import {getCollection} from 'astro:content'
// Obtener todos los proyectos de la colección
const projects = await getCollection('projects')
import {sortProjectByRelevancy} from '@/functions/sortProjectByRelevancy'
const sortedProjects = sortProjectByRelevancy(projects)
import ProjectsExplorer from '@/components/elements/ProjectsExplorer/ProjectsExplorer'

import {Image} from 'astro:assets'
import bg4 from '@/assets/backgrounds/bg4.svg'
import ProjectsHero from '@/templates/projects/ProjectsHero.astro'

/* 
 @version 2
 @revisado 04/09/2025
 @descripcion: Página de proyectos en español
*/
---

<HtmlLayout pageTitle="Proyectos">
  <NavLayout>
    <div class="page-container">
      <div
        class="bg-grid"
        aria-hidden="true"
      >
      </div>
      <main>
        <ProjectsHero language="es" />
        <section class="projects-section">
          <ProjectsExplorer
            projects={sortedProjects}
            language="es"
            client:load
          />
        </section>

        <Image
          src={bg4}
          alt="background-decoration"
          aria-hidden="true"
          class="bg-gradient"
        />
      </main>
    </div>
  </NavLayout>
</HtmlLayout>

<style>
  main {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .bg-grid {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--primary) 1px, transparent 1px),
      linear-gradient(to bottom, var(--primary) 1px, transparent 1px);
    background-size: 25px 25px;
    opacity: 0.5;
    mask-image: radial-gradient(
      ellipse 50% 60% at 60% 0%,
      #000 20%,
      transparent 90%
    );
  }

  .bg-gradient {
    position: absolute;
    top: 20%;
    left: -10%;
    width: 100%;
    height: 80%;
    z-index: -1;
    opacity: 0.5;
    filter: blur(100px);
  }

  /* Projects Section */
  .projects-section {
    height: 90lvh;
    width: 100lvw;
    max-width: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
  }
</style>
