---
import { fetchTotalLines } from "./fetchTotalLines";
import { fetchRepoLanguages } from "./fetchRepoLanguages";
import { fetchRepoStats } from "./fetchRepoStats";
import RingChart from "@/components/ui/RingChart/RingChart.astro";

const { repository } = Astro.props;
const githubToken = import.meta.env.GITHUB_AUTH_TOKEN;

const totalLines = await fetchTotalLines(repository);
const languages = await fetchRepoLanguages(repository, githubToken);
const stats = await fetchRepoStats(repository, githubToken);
---


<article class="card">
  { stats ?(
  
    <div class="stats">
      <header class="header">
        <svg class="github" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
        <div>
          <div class="name">
            <a class="link" href={stats.htmlUrl} target="_blank">
              {stats.name}
            </a>
            <svg class="external icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 3h6v6"/><path d="M10 14 21 3"/><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"/></svg>
          </div>
          <p class="fullName">{stats.fullName}</p>
        </div>
      </header>
      <main class="content">
        <div class="icon-box">
          <p class="star">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"/></svg>
            </span>
            <span>{stats.stargazersCount}</span>
            <span>stars</span>
          </p>
          <p class="fork">
            <span>
              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="18" r="3"/><circle cx="6" cy="6" r="3"/><circle cx="18" cy="6" r="3"/><path d="M18 9v2c0 .6-.4 1-1 1H7c-.6 0-1-.4-1-1V9"/><path d="M12 12v3"/></svg>
            </span>
            <span>{stats.forksCount}</span>
            <span>forks</span>
          </p>
        </div>
        <p>{stats.description}</p>
        <div class="date-box">
          <div>
            <p class="date-head">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 19h6"/><path d="M16 2v4"/><path d="M19 16v6"/><path d="M21 12.598V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h8.5"/><path d="M3 10h18"/><path d="M8 2v4"/></svg>
              </span>
              <span>Created at</span>
            </p>
            <p>
              {new Date(stats.createdAt).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })}
            </p>
          </div>
          <div>
            <p class="date-head">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M11 10v4h4"/><path d="m11 14 1.535-1.605a5 5 0 0 1 8 1.5"/><path d="M16 2v4"/><path d="m21 18-1.535 1.605a5 5 0 0 1-8-1.5"/><path d="M21 22v-4h-4"/><path d="M21 8.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h4.3"/><path d="M3 10h4"/><path d="M8 2v4"/></svg>              </span>
              <span>Updated at</span>
            </p>
            <p>
              {new Date(stats.updatedAt).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })}
            </p>
          </div>
        </div>
      </main>
    </div>
    <aside>
      {totalLines && (
        <p class="lines-of-code">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m16 18 6-6-6-6"/><path d="m8 6-6 6 6 6"/></svg>          </span>
          <span>{totalLines} </span>
          <span>lines of code</span>
        </p>
      )}
      {
        languages && (


         <RingChart
        data={Object.entries(languages).map(([name, value]) => ({
          name,
          value,
        }))}
        />
       
      
      )}
    </aside>
  ) : (
    <div class="errorContainer">
      <div class="errorIcon">⚠️</div>
      <p>Something wrong :(</p>
    </div>
  )
  
  }
  
  </article>

<style>
  /* Error feedback */
  .errorContainer {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-large);
    gap: 1rem;
    padding: 1.5rem;
  }

  .errorIcon {
    font-size: 1.5rem;
    opacity: 0.7;
  }

  /* Repo card */
  .card {
    background-color: var(--surface-300);
    min-width: 100%;
    padding: 2rem;
    border-radius: var(--radius-large);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: space-evenly;
  }
  @media (max-width: 768px) {
    .card {
      padding: 2rem 1rem;
      flex-direction: column;
    }
  }
  /* Header */
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--primary);
    font-weight: 600;
  }
  .github {
    color: var(--content);
    width: 2rem;
  }
  .name .link {
    text-decoration: none;
  }
  .name .external {
    width: 1rem;
    color: var(--content);
    opacity: 1;
  }
  .fullName {
    color: var(--content);
    font-size: 0.8rem;
    opacity: 0.7;
  }

  /* Content */
  .stats {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .icon-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .icon-box > p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  .star > span:nth-child(1) {
    color: #c5a800;
    width: 1rem;
  }
  .fork > span:nth-child(1) {
    color: #ac1ab9;
    width: 1rem;
  }
  .icon-box > span:nth-child(2) {
    font-weight: 600;
  }
  .icon-box > span:nth-child(3) {
    font-size: 0.8rem;
  }
  .date-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
  }
  .date-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
  }
  .date-head > span:nth-child(1) {
    width: 1rem;
  }

  /* Aside */
  aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .lines-of-code {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .lines-of-code > span:nth-child(1) {
    color: var(--primary);
  }
  .lines-of-code > span:nth-child(2) {
    font-weight: 600;
  }
  .lines-of-code > span:nth-child(3) {
    font-size: 0.8rem;
  }
</style>
