---
import {getCollection} from 'astro:content'
import ProjectsExplorer from '../components/ProjectsExplorer/ProjectsExplorer'
import SectionTitle from '../components/SectionTitle/SectionTitle'

interface Props {
  language: 'en' | 'es'
}

const {language = 'en'} = Astro.props as Props

// Obtener y ordenar proyectos
const allProjects = (await getCollection('projects')).sort((a, b) => {
  const dateA = a.data.date ? new Date(a.data.date).getTime() : 0
  const dateB = b.data.date ? new Date(b.data.date).getTime() : 0
  return dateB - dateA
})

const TEXTS = {
  en: {
    title: 'What?',
    description:
      'Here you can see some of the projects I have worked on recently. You can also visit the <span class="link"><a href="/en/projects">project pages</a></span> or the <span class="link"><a href="/en/labs">labs</a></span>, where I share my most personal works.',
  },
  es: {
    title: '¿Qué?',
    description:
      'Aquí puedes ver algunos de los proyectos en los que he trabajado recientemente. También puedes visitar la <span class="link"><a href="/es/projects">página de cada proyecto</a></span> o los <span class="link"><a href="/es/labs">laboratorios</a></span>, donde comparto mis trabajos más personales.',
  },
}

const {title, description} = TEXTS[language]
---

<section
  id="works"
  class="works-section"
>
  <header class="header">
    <SectionTitle
      client:load
      id="works"
      level="title"
    >
      {title}
    </SectionTitle>
    <p
      class="paragraph code-text"
      set:html={description}
    />
  </header>
  <main>
    <ProjectsExplorer
      client:load
      projects={allProjects}
      language={language}
    />
  </main>

  <style>
    .works-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-block: 2rem;
      max-width: 1024px;
      margin: auto;
      min-height: 100vh;
    }
    .works-section header {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 1rem;
      padding: 2rem;
    }
  </style>
</section>
